/*base css*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
	color: #5d5d5d;
	font-size: 16px;
	line-height: 1.625;
	text-transform: uppercase;
}
a { 
	text-decoration: none; 
	color: #ff3600;
}
h1,h2,h3,h4 {
	line-height: normal;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	word-wrap: break-word;
}
.btn {
	line-height: normal;
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	font-size: 14px;
	color: #ff3600;
	vertical-align: middle;
	padding: 7px 40px;
	background: transparent;
	outline: none;
}

.btn-trans {
	color: #FFF;
}

.btn:hover {
	color: #111;
	transition:all 0.4s ease 0.1s;
}

.btn-trans:hover {
	color: #ff3600;
	transition:all 0.4s ease 0.1s;
}

/* 头部样式 */
#header {
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
}


.logo {
	text-align: center;
	float: left;
	overflow: hidden;
	height: 70px;
	line-height: 70px;
	margin: 0;
	background-color:#ff3600; 
}

.logo > a {
	font-size: 22px;
	padding: 0 50px;
	display: block;
	overflow: hidden;
	color: #FFF;
}

.logo > a:hover {
	color: #111;
	transition:all 0.4s ease 0.1s;
}


.nav {
	float: left;
	margin-left: 15px;
}

.nav ul li {
	float: left;
}

.nav a {
	display: block;
	padding: 24px 20px;
	font-size: 14px;
	color: #FFF;
}

.nav a:hover {
	color:#ff3600; 
	transition:all 0.4s ease 0.1s;
}


/* 轮播样式 */

.banner { 
	position: relative; 
	overflow: auto; 
}

.banner li { 
	list-style: none; 
}

.banner ul li { 
	float: left; 
}

.banner ul li {
    background-size: 100% 100%;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.1) inset;
    display: block;
    float: left;
    min-height: 350px;
    
}

/* adress css*/

address {
	
	position: absolute;
	top: 170px; 
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
}

address p {
	margin-top: 17px;
}

.avatar {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin: 0 auto;
	border: 2px solid #FFF;
	overflow: hidden;
}

.avatar img {
	margin-left: -2px;
	margin-top: -2px;
}

.name {
	color: #FFF;
}


/* main css*/

.main {
	margin: 40px 0;
}


.main .container {
	margin: 0 75px;
	padding: 15px 0;
	overflow: hidden;
}

.article {
	float: left;
	width: 71%;
}

.article article {
	padding-bottom: 50px;
}

.article img {
	max-height: 457px;
}

.arcticle-thumb {
	display: block;
	margin-bottom: 10px;
}


.article-meta {
	font-size: 13px; 
	font-family: Arial;
	margin-bottom: 5px;
}

.article-meta a:hover {
	text-decoration: underline;
	color: #E63100;
	transition:all 0.4s ease 0.1s;
}

.article-link {
	float: right;
}

.article h2 {
	font-size: 24px; 
	margin: 0 0 15px 0;
}

.article h3 {
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
}


.article i {
	font-size: 16px;
	width: 58%;
	font-style: italic;
	text-align:justify;
	text-align-last:justify;
	overflow: hidden;
	display: inline-block;
}

.article-title {
	font-size: 24px;
	font-family: Arial;
	cursor: pointer;
}

.article-img {
	width: 0;
	height: 0;
}

.article-img img{
	float: left;
	margin: 5px 15px 15px 0;
	width: 38%;
}

.article-title:hover {
	color: #111;
	transition:all 0.4s ease 0.1s;
}

.article-content p{
	font-size: 15px;
	font-family:  Arial, sans-serif;
	text-transform:capitalize;
	margin-bottom: 30px;
}

.group p {
	margin-bottom: 25px;
}

.article-content span {
	font-size: 14px;

}

blockquote {
	color: #8F8F8F;
	border-left: 4px solid #a9a9a9;
	margin: 25px 0;
	padding-left: 20px;
	
}
.article-content blockquote p {
	font-size: 16px;
	font-family: Oswald, sans-serif;
}

.profile {
	float: right;
	margin-right: 5px;
	width: 20%;
	padding: 18px 20px;
	font-size: 14px;
	border: 1px solid #E5E5E5;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile h3 {
	font-size: 16px;
	color: #484848;
	margin-bottom: 15px;
	font-family: Serif;
}

.profile aside {
	margin-bottom: 25px;
}

.profile p { 
	font-size: 12px;
	color: #5d5d5d;
	font-family: Serif;
}

.profile aside a {
	display: inline-block;
	width: 30px;
	height: 35px;
}


/* paging css*/

.navigation {
	margin: 40px 0 10px;
}

.page-numbers {
	border: 2px solid #ff3600;
	color: #ff3600;
	display: inline-block;
	line-height: normal;
	margin-right: 2px;
	padding: 7px 11px;
	font-size: 14px;
	transition:all 0.4s ease 0.1s;
}

.page-numbers:hover {
	color: #111;
	border-color:#111; 
}

.current {
	color: #FFF;
	background: #ff3600;
}

.current:hover {
	color: #FFF;
	border-color: #ff3600;
}




/* footer css*/

#footer {
	font-size: 12px;
	color: #9E9E9E;
	padding: 0 0 40px 0;
}

#footer .container {
	margin: 0 50px;
	padding:15px 5px 40px;
	border-top: 1px solid #ddd8ce;
}

#footer .info {
	float: left;
}

#footer a {
	text-decoration: none;
	color: #ff3600;

}

#footer a:hover {
color: #111;
	transition:all 0.4s ease 0.1s;

}


#footer .speed {
	float: right;
}

/* aboutus css*/ 

.about,.archives {
	margin-top: 70px;
	padding: 65px 0 0 40px;
}

/* archives css */

time {
	color: #b3b3b3;
	font-size: 12px;
	display: block;

}

.row a:hover{
	color: #111;
	transition:all 0.4s ease 0.1s;
}

.row ul {
	list-style-type: disc;
	padding-left: 20px;
}

.row li {
	display: list-item;
	font-size: 16px;

}

.col-7,.col-5 {
	float: left;
}

.col-7 {
	width: 58%;
}

.col-7 div {
	margin: 15px 0 ;
}

.col-7 div a {
	font-size: 22px;
	width: 95%;
	display: block;
}


.col-5 {
	width: 41%;

}

.col-5 ul {
	margin: 15px 0 30px;
}


.col-5 a:hover {
	text-decoration: underline;
	color: #e63100;
}









